
<div style="text-align:center">


  <br>
  <button mat-raised-button color="warn" (click)="loadStockData()" >Załaduj Dane</button>
 
  <button mat-raised-button color="warn" (click)="loadPredictedInfo()" >Przewidz Dane</button>


</div>
<div style="text-align:center">

  <br>

  <label><h1>Akcje "{{s1.stockID}}" w dniach {{s1.previousDate}} - {{s1.todayDate}}</h1></label>

  <img src={{stockimg}} width="1000">


</div>
<div *ngIf="condition" style="text-align:center">

  <br>

  <label><h2>Nazwa świecy {{t1.candleName}} o wartości {{t1.trendVal}}  wykryta {{t1.spotDate}}</h2></label>
  <label><h2>Oznacza to {{t1.trend}} cen akcjii</h2></label>
  <label><h2>Rekomendacja Analizy Technicznej = {{t1.taRecommendation}}.</h2></label>

  <br>
  <label><h2>Prognoza według sieci neuronowej</h2></label>
  <img src={{lstmimg}} width="1000">



  <table style="width:50%">
    <tr>
      <th>Dzień</th>
      <th>Dzień 1</th> 
      <th>Dzień 2</th> 
      <th>Dzień 3</th> 
      <th>Dzień 4</th> 
      <th>Dzień 5</th> 
    </tr>
    <tr>
      <td>Cena</td>
      <td>{{l1.day_1}}</td> 
      <td>{{l1.day_2}}</td> 
      <td>{{l1.day_3}}</td> 
      <td>{{l1.day_4}}</td> 
      <td>{{l1.day_5}}</td> 

    </tr>
  </table>
<br>
  <label>Błąd średniokwadratowy = {{l1.rmse}}.</label>

</div>

