<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <button (click)="click1()" >click me</button>
  <input type="text" [(ngModel)]='str1'>
  <button (click)="getavg()">Get Average</button>
  <input type="text" value={{resavg}}>
  <button (click)="getimage()">load graph</button>
  <button (click)="getDF()">load table</button>
  <button (click)="getsbimage()">seaborn graph</button>
  <br/>
</div>
<img src={{imgsrc}} width="500">
<h2>Test App: {{c1.name}}</h2>
<span innerHtml={{pandas}}></span>
<img src={{imgsbsrc}} width="1000">